{% extends "::base.html.twig" %}

{% block title %}AdenisMainBundle:Call:contact{% endblock %}

{% block body %}
    <div>    

        <div>  
            <form class="form-inline" role="form" name="search" method="GET">  
                <div class="form-group">
                    <label for="durationmin" style="width: 100px">Duration min:</label>
                    <input type="text" class="form-control" id="durationmin" name="durationmin" value="{{ searchparams.durationmin | default("") }}">
                </div>
                <div class="form-group">
                    <label for="dateini" style="width: 100px">Date ini:</label>
                    <input type="text" class="form-control datepicker-from" id="dateini" name="dateini" value="{{ searchparams.dateini | default("") }}">
                </div><br/><br/>
                <div class="form-group">
                    <label for="durationmin" style="width: 100px">Duration max:</label>
                    <input type="text" class="form-control" id="durationmax" name="durationmax" value="{{ searchparams.durationmax | default("") }}">
                </div>
                <div class="form-group">
                    <label for="datefin" style="width: 100px">Date fin:</label>
                    <input type="text" class="form-control datepicker-from" id="datefin" name="datefin" value="{{ searchparams.datefin | default("") }}">
                </div><br/><br/>
                <button type="submit" class="btn btn-default">Realculer statistiques</button>
            </form>
        </div>

        <hr/>

        <div>
            <table id="myTable" class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th style="border-right: solid 1px gray; color: #000" width="450">Société</th>
                        <th style="border-right: solid 1px; color: gray">Téléphone de contact</th>
                        <th>Total</th>
                        <th style="border-right: solid 1px; color: gray">Billsec (h:m:s)</th>
                        <th style="background-color: #878BB6" title="NO ANSWER, BUSY, FAILED">No answered</th>
                        <th style="background-color: #4ACAB4"title="ANSWERED">Answered</th>
                        <th style="border-right: solid 1px; color: gray">Pourcentage %</th>
                        <th>Special numbers</th>
                        <th style="border-right: solid 1px; color: gray">Billsec (h:m:s)</th>
                    </tr>
                </thead>

                <tbody>
                    <tr>
                        <td style="border-right: solid 1px gray; color: #000">
                            <span style="font-size: 18px">{{contact.nom}}</span><br/><br/>
                            <span style="font-size: x-small">CODE:</span><br/>{{contact.code}}<br/><br/>
                            <span style="font-size: x-small">ADRESSE:</span><br/>
                            {{contact.adresse}}<br/>
                            {{contact.cp}}<br/>
                            {{contact.ville}}<br/>
                            {{contact.pays}}<br/>
                        </td>
                        <td style="border-right: solid 1px; color: gray">
                            <a href="{{path('main_call_telephone', {'number': "'"~contact.tel1~"'"})}}">{{contact.tel1}}</a><br/>
                            <a href="{{path('main_call_telephone', {'number': "'"~contact.tel2~"'"})}}">{{contact.tel2}}</a><br/>
                            <a href="{{path('main_call_telephone', {'number': "'"~contact.tel3~"'"})}}">{{contact.tel3}}</a><br/>
                            <a href="{{path('main_call_telephone', {'number': "'"~contact.tel4~"'"})}}">{{contact.tel4}}</a><br/>
                        </td>
                        <td>{{statistics.numTotal}}</td>
                        <td style="border-right: solid 1px; color: gray">{{statistics.sumTotal}}</td>
                        <td id="num_not_answered_t">{{statistics.numNotAnswered}}</td>
                        <td id="num_answered_t">{{statistics.numAnswered}}</td>
                        <td style="border-right: solid 1px; color: gray;"><canvas id="calls" width="150" height="150"></canvas></td>
                        <td>{{statistics.numSpecialNum}}</td>
                        <td style="border-right: solid 1px; color: gray;">{{statistics.sumSpecialNum}}</td>
                    </tr>
                </tbody>
            </table>
        </div>

        <hr/>

        <div>
            {%if(interlocuteurs != null)%}
                <table id="myTable" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th width="450">Interlocuteur</th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for i in interlocuteurs %}
                            <tr>
                                <td>
                                    <span style="text-transform : uppercase;">{{i.nom}}</span> 
                                    <span style="text-transform : lowercase;">{{i.prenom}}</span>
                                </td>
                                <td>
                                    <span style="font-size: x-small; margin-right: 10px">TEL 1: </span> <a href="{{path('main_call_telephone', {'number': "'"~i.tel1~"'"})}}"> {{i.tel1}}</a><br/>
                                </td>
                                <td>
                                    <span style="font-size: x-small; margin-right: 10px">TEL 2: </span><a href="{{path('main_call_telephone', {'number': "'"~i.tel2~"'"})}}"> {{i.tel2}}</a><br/>
                                </td>
                                <td>
                                    <span style="font-size: x-small; margin-right: 10px">TEL 3: </span><a href="{{path('main_call_telephone', {'number': "'"~i.tel3~"'"})}}"> {{i.tel3}}</a><br/>
                                </td>
                                <td>
                                    <span style="font-size: x-small; margin-right: 10px">TEL 4: </span><a href="{{path('main_call_telephone', {'number': "'"~i.tel4~"'"})}}"> {{i.tel4}}</a><br/>
                                </td>
                                <td>
                                    <span style="font-size: x-small; margin-right: 10px">EMAIL: </span><a href="{{path('main_call_telephone', {'number': "'"~i.email~"'"})}}"> {{i.email}}</a><br/>
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% else%}    
                <p style="font-style: italic">Pas d'interlocuteurs associés.</p>
            {%endif%}
        </div>

        <hr/>

        <div>
            {%if(listCdrent != null)%}
                <table id="myTable_calls_contact" class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>calldate</th>
                            <th>clid</th>
                            <th>src</th>
                            <th>dst</th>
                            <th>dcontext</th>
                            <th>channel</th>
                            <th>dstchannel</th>
                            <th>lastapp</th>
                            <th>lastdata</th>
                            <th>disposition</th>
                            <th>billsec</th>
                            <th>accountcode</th>
                            <th>nomcontact</th>
                            <th>codecontact</th>
                        </tr>
                    </thead>

                    <tfoot>
                        <tr>
                            <th>calldate</th>
                            <th>clid</th>
                            <th>src</th>
                            <th>dst</th>
                            <th>dcontext</th>
                            <th>channel</th>
                            <th>dstchannel</th>
                            <th>lastapp</th>
                            <th>lastdata</th>
                            <th>disposition</th>
                            <th>billsec</th>
                            <th>accountcode</th>
                            <th>nomcontact</th>
                            <th>codecontact</th>
                        </tr>
                    </tfoot>

                    <tbody>
                        {% for c in listCdrent %}
                            <tr>
                                <td>{{c.calldate|date("d/m/Y")}}</td>
                                <td>{{c.clid}}</td>
                                <td><a href="{{path('main_call_telephone', {'number': "'"~c.src~"'"})}}">{{c.src}}</a></td>
                                <td><a href="{{path('main_call_telephone', {'number': "'"~c.dst~"'"})}}">{{c.dst}}</a></td>
                                <td>{{c.dcontext}}</td>
                                <td>{{c.channel}}</td>
                                <td>{{c.dstchannel}}</td>
                                <td>{{c.lastapp}}</td>
                                <td>{{c.lastdata}}</td>
                                <td style="background-color:{%if c.disposition == 'ANSWERED'%}#4ACAB4{%else%}#878BB6{%endif%}">{{c.disposition}}</td>
                                <td>{{c.billsec}}</td>
                                <td>{{c.accountcode}}</td>
                                <td>{{c.nomcontact}}</td>
                                <td>{{c.codecontact}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>

            {% else%}    
                <p style="font-style: italic">Pas d'appels enregistrés.</p>
            {%endif%}
        </div>

    </div>
{% endblock %}
